{% extends 'base.html.twig' %}

{% block title %}AboutController!{% endblock %}

{% block body %}
<div class="head"> 
    {% include 'head.html.twig'%}
</div>

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Aymerick Duquenoy <code>aymduqu@gmail.com</code></li>
        <li>IUT Informatique <code> 62100 - CALAIS </code></li>
    </ul>
    And it has been called from about function into HomeController ;-)
</div>


<div class="footer"> 
    {% include 'footer.html.twig'%}
</div>
{% endblock %}
