/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

/* En-tête et liens */
.example-head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: #343a40;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.example-head a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.example-head a:hover {
    background-color: #007bff;
    color: #fff;
}

/* Boutons et code */
.example-head code {
    background: #212529;
    color: #f8f9fa;
    padding: 2px 6px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}

.navbar {
    background-color: #1c1c1c !important; /* Fond de la barre de navigation */
}
.navbar a {
    color: #ffffff !important; /* Liens en blanc */
    text-decoration: none;
}
.navbar a:hover {
    color: #f8f9fa !important; /* Variation au survol */
}

/* Styles pour le menu déroulant */
.navbar .nav-item.dropdown .dropdown-menu {
    background-color: #1c1c1c !important; /* Fond du menu déroulant */
    border: 1px solid #343a40 !important; /* Bordure sombre */
}            .navbar .nav-item.dropdown .dropdown-item {
    color: #ffffff !important; /* Couleur des éléments du menu */
}
.navbar .nav-item.dropdown .dropdown-item:hover {
    background-color: #343a40 !important; /* Fond gris foncé au survol */
    color: #f8f9fa !important; /* Texte légèrement plus clair au survol */
}

.messages{
    position : fixed;
    top: 5px;
    right: 5px;
    min-width: 350px;
}